@font-face {
  font-family: 'f505-69d43a420b7';
  src: url('font-file-f505-69d43a420b7.eot');
  src: url('font-file-f505-69d43a420b7.eot#iefix') format('embedded-opentype'),
       url('font-file-f505-69d43a420b7.woff') format('woff'),
       url('font-file-f505-69d43a420b7.ttf') format('truetype'),
       url('font-file-f505-69d43a420b7.svg#f505-69d43a420b7') format('svg');
}.css-f505-69d43a420b7{font-family: 'f505-69d43a420b7';}
